<a href="https://colab.research.google.com/github/Elwing-Chou/ximen_ai_20250630/blob/main/ximen_titanic_0707.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from urllib.request import urlretrieve
url = "https://github.com/Elwing-Chou/ximen_ai_20250630/raw/refs/heads/main/titanic/train.csv"
urlretrieve(url, "train.csv")

url = "https://github.com/Elwing-Chou/ximen_ai_20250630/raw/refs/heads/main/titanic/test.csv"
urlretrieve(url, "test.csv")

('test.csv', <http.client.HTTPMessage at 0x7a77b31a6a50>)

In [5]:
import pandas as pd
train = pd.read_csv("train.csv", encoding="utf-8")
test = pd.read_csv("test.csv", encoding="utf-8")



```
資料預處理(x)

把資料分成兩種
1. 數值類型(連續大小):
Age, SibSp, Parch, Ticket(#), Fare
2. 固定類型:
Pclass, Name, Sex, Cabin, Embarked

1. 補上所有空值
2. 固定類型做One-hot
Extra. 想辦法做出更多欄位

```

In [15]:
# 注意axis=0/1
train_test = pd.concat([train, test], axis=0)

In [18]:
train_test = train_test.drop(["PassengerId", "Survived"], axis=1)
train_test

/usr/local/lib/python3.11/dist-packages/google/colab/_dataframe_summarizer.py:57: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(column, errors="raise")

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...
413,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C



```
pandas兩大操作
1. 過濾
2. 轉換

```

In [ ]:
# Demo pandas
# 1. 過濾: 帶入跟你資料筆數依樣多的True/Fasle
# 隊到True的會留下, 隊到False會被刪去
fil = [True, False, True]
train_test.head(3)[fil]
fil = train_test["Age"] > 50
train_test[fil]

In [ ]:
# Demo Pandas
# 2. 轉換操作: apply

In [29]:
# Evertyhing is an object
# 每個東西都有形態, 每個型態都有對應操作
# 型態: print
# 操作: (3)
import random
def test(t):
    if t == 0:
        return random.randint
    else:
        return random.uniform
test(0)(2, 5)

5

In [32]:
# Demo Apply
# DataFrame: 2d表格  Series: 1d(一行一列)
def flow(n):
    return n + 100

s = pd.Series([1, 2, 3, 4])
s.apply(flow)

0    101
1    102
2    103
3    104
dtype: int64

In [41]:
def flow(s):
    # s = "Braund, Mr. Owen Harris"
    s_spl = s.split(",")[-1].split(".")[0]
    return s_spl.strip()
# value_counts()
name_apply = train_test["Name"].apply(flow)
# name_apply.value_counts()
train_test["Name"] = name_apply

In [45]:
def flow(s):
    if pd.isna(s):
        return s
    else:
        return s[0]
cabin_apply = train_test["Cabin"].apply(flow)
train_test["Cabin"] = cabin_apply

In [46]:
train_test

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,Mr,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,Mrs,female,38.0,1,0,PC 17599,71.2833,C,C
2,3,Miss,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,Mrs,female,35.0,1,0,113803,53.1000,C,S
4,3,Mr,male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...
413,3,Mr,male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1,Dona,female,39.0,0,0,PC 17758,108.9000,C,C
415,3,Mr,male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,3,Mr,male,NaN,0,0,359309,8.0500,NaN,S
417,3,Master,male,NaN,1,1,2668,22.3583,NaN,C